# FastAPI & Server
fastapi
uvicorn
python-multipart

# Deep Learning Base
torch
torchvision

# AI Models (YOLO & OCR)
ultralytics
paddlepaddle
paddleocr

# Image Processing
opencv-python
Pillow

# Chatbot & Security
google-generativeai
python-dotenv